/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

:root {
	--svrollbar-track-width: 0.33rem;
	--svrollbar-track-background: linear-gradient(45deg, hsl(var(--p)), hsl(var(--s)));
	--svrollbar-thumb-width: 0.33rem;
	--svrollbar-thumb-radius: 0;
	--svrollbar-thumb-background: hsl(var(--bc));
}
